* {
	font-family: Tahoma, Geneva, sans-serif;
}

img {
	padding: 5%;
	width: 200px;
}

body {
	background-image: url( "paint.jpg" );
	background-position: center;
}

aside {
	display: inline-block;
	float: left;
	width: 40%;
}

section {
	display: inline-block;
	float: left;
	width: 60%;
}

header, div:not( [name=spans] ), span:not( [name=picture] ) {
	margin-top: 60px;
	background: rgb(255, 255, 255); /* Fallback for older browsers without RGBA-support */
    background: rgba(255, 255, 255, 0.4); 
	margin: 10px; 
	padding: 10px;
	border-style: double;
	border-color: #2B4BEB;
}

span#picture {
	width: 500 px;
	float: left;
}

span {
	float: left;
}

span#projectLinks {
	width: 700px;
	/*float: right;*/
	margin-top: 60px;
	margin-right: 60px;
}

img#screenshots {
	width: 600px;
	padding: 20px;
}

img#large-screenshots {
	width: 800px;
	padding: 20px;
}
