* {
	font-family: Tahoma, Geneva, sans-serif;
}

img {
	width: 300px;
}

body {
	background-image: url( "paint.jpg" );
	background-position: center;
}

div:not( [name=spans] ), span:not( [name=picture] ) {
	background: rgb(255, 255, 255); /* Fallback for older browsers without RGBA-support */
    background: rgba(255, 255, 255, 0.4); 
	margin: 10px; 
	padding: 10px;
	border-style: double;
	border-color: #2B4BEB;
}

#picture {
	float: left;
	width: 50%;
}

#projectLinks {
	float: right;
	width: 50%;
}