* {
	font-family: Tahoma, Geneva, sans-serif;
}

img {
	width: 300px;
}

body {
	background-image: url( "texture.jpeg" );
}

headers {
	width: 30%;

}

picture {
	width: 30%;
}

projectLinks {
	width: 40%;
}